body {
    background-color: #2A4E6E
}

/* Navigation Bar */
.navbar {
    background-color: #AA7B39
}

.navbar a {
    float: left;
    display: block;
    color: #FFDCAA;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.navbar a:hover {
    background-color: #728DA5; 
  }

  .navbar a:active {
    color: #dc6f01; 
  }

.navbar a:current {
    color: #dc6f01; 
  }


.navbar-left-side {
    float: left;
}

.navbar-right-side {
    float: right;
    display: block;
    color: #FFFEFD;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: large

}

.introduction {
    float: center;
    display: block;
    color: #FFDCAA;
    text-align: left;
    font-family: 'Lato', sans-serif;
}