body {
    margin: 0; 
    background-color: #2A4E6E;
}
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    /* justify-content: space-between; */
    align-items: center;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr 70px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 'header header header' 'banner banner banner' 'blurb blurb blurb'
    */
  } 

  .header {
      width: 100%;
      outline: 1px solid red;
      /* grid-column-start: 1;
      grid-column-end: 4; */
  }

  .placeholder-image {
    outline: 1px solid red; 
    
    /* grid-column-start: 1;
     grid-column-end: 4;  */
  }

  .blurb {
      /* grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; */
  }

  a {
      color: #fafafa;
      text-decoration: underline;
  }

  a:hover {
      color: #FFDCAA;
  }

/* Navigation Bar */
.navbar a {
    float: left;
    display: block;
    color: #FFDCAA;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.navbar a:hover {
    background-color: #728DA5; 
  }

.navbar .current {
    color: #79c7ff; 
    background-color: none;
  }

.navbar-left-side {
    float: left;
}

.navbar-right-side {
    float: right;
    display: block;
    color: #79c7ff;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-right: 10px;
}

/* Body Text */
.introduction {
    display: block;
    color: #fafafa;
    text-align: left;
    font-family: 'Lato', sans-serif;
    align-content: center;
}

.title {
    font-size: larger;
}

.subject {
    float: left; 
    color: aliceblue;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    width: 100vw;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Photographs */
img {
    max-height: 400px;
    width: auto;
    padding: .5em;
    border: .25em solid #ffb467; 
}

.home-portrait {
    max-width: 100%;
    height: auto;
    padding: .5em;
    border: .25em solid #ffb467; 
}